#nosotros img{
    height: 570px;
    margin-left: 2%;
    margin-top: 2%;
}

#nosotros {
    background: url(IMG/fondo2.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: orange;
    padding: 50px 0;
    transform: translateY(25%);
    
  }
  
  #nosotros .container {
    display: flex;
    justify-content: center;
    
  }