/* Estilos generales para el contenido */
html, body {
  height: 100%;
  width: 100%;
}

main {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
}

/* Barra de navegación */
#barraNavegacion {
  height: 250px;
}

#navegacion {
  background-image: url('IMG/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}

#navegacion a {
  color: #F06313;
  font-size: 25px;
}

#navegacion a:hover {
  color: #D90A9E;
  font-size: 25px;
}

#naveMenu {
  margin: 0 auto;
}

/* Sección "Nuestro Equipo" */
#nuestroEquipo {
  text-align: center;
  margin-top: 1%;
}

#nuestroEquipo h1,
#nuestroEquipo p {
  color: #F06313;
}

#imgDavid {
  text-align: center;
  margin-top: 50px;
}

#imgDavid img {
  max-height: 300px;
  border-radius: 20%;
  border: 5px solid #161670;
  padding: 20px;
  background-color: #161670;
}

#botonMenu {
  color: white;
}

/* Sección "Servicios" */
#Servicios {
  background: url(IMG/fondo2.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #F06313;
  padding: 50px 0;
}

#Servicios .container {
  display: flex;
  justify-content: center;
}

#Servicios img {
  height: 150px;
  margin: 50px 20px 10px;
}

/* Sección "Mensaje" */
#Mensaje {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px; /* Ajusta este valor para dejar espacio suficiente para el footer */
}

footer {
  border-top: double; 
  border-right: double;
  border-left: double;
  border-bottom: double;
  clear: both;
  text-align: center;
  color: white;
  padding-top: 20px;
  background-color: #282828;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#logoWhatsapp,
#whatsappBanner,
#correo,
#correoBanner,
#llamada,
#llamadaBanner {
  position: relative;
  float: right;
  bottom: 50px;
  margin-left: 20px;
  margin-right: 10px;
}

#logoWhatsapp:hover,
#correo:hover,
#llamada:hover {
  transform: scale(1.3);
}

@media screen and (max-width: 2000px) {
  #logoWhatsapp,
  #whatsappBanner,
  #correo,
  #correoBanner,
  #llamada,
  #llamadaBanner {
    position: static;
    float: none;
    bottom: auto;
    right: auto;
  }
}


/* Media Queries para dispositivos móviles */
@media screen and (max-width: 1000px) {
  #naveMenu {
    margin-top: 10px;
  }

  #imgDavid img {
    max-height: 200px;
  }

  #Servicios img {
    height: 100px;
    margin: 30px 20px 10px;
  }

  #navegacion {
   height: auto;
    }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
